h3{
    color: aquamarine;
    font-size: large;
    text-align: center;
}
p{
    background-color: rebeccapurple;
    border: 10px solid green;
    padding: 10px;
    margin: 15px;
}
ol{
    color: blue;
    font-size: 50px;
    font-family: serif;
}